	.subcol{
		font-size : 10px;
		text-align : center;
	} 
	.maincol{
		font-size : 13px;
		text-align : center;
		cursor: pointer;
	}
	
	.maincol:hover{
		font-size : 13px;
		text-align : center;
		background : #0bdb43;
		color:#f58207;
		cursor: pointer;
	}
	
	table {
	    width: 100%;
	    border:none;
	    border-collapse: collapse;
  	}
  	th, td {
	    padding: 10px;
	    border-left: none !important;
	    border-bottom: 1px solid #96D4D4;
	    border-top: 1px solid #96D4D4;
	}
  	.pageControl{
  		margin-top : 10px;
  		margin-left : 10px;
  		margin-right : 10px;
  		text-align : center;
  	}
  	
  	.pageControl .toWriteForm{
  		float : left;
  	}
  	
  	/* unvisited link */
	#listLink:link {
	  color: black;
	}
	
	/* visited link */
	#listLink:visited {
	  color: gray;
	}
	
	/* mouse over link */
	#listLink:hover {
	  color:hotpink;	
	}
	
	/* unvisited link */
	#subjectA:link {
	  color: black;
	}
	
	/* visited link */
	#subjectA:visited {
	  color: gray;
	}
	
	/* mouse over link */
	#subjectA:hover {
	  color:hotpink;	
	}
	
	#currentPaging{
		cursor:pointer;
		background:yellow;
		color:red;
	}
	
	#paging{
		cursor:pointer;
	}
	